/* Estilo base - MOBILE FIRST */

html, body {
    overflow-x: clip;
}

body {
    font-family: "Caveat", cursive;
    background-color: #8ea5ac;
}

.foto-perfil {
    width: 260px;
    aspect-ratio: 1;
    object-fit: cover;
}

.form-contacto {
    width: 100%;
    max-width: 750px;
}

iframe {
    border: 0;
}

section, aside, footer, [id] {
    scroll-margin-top: 80px;
}